# pycairo==1.20.0
Rtree==0.9.7
svg.path==4.1
absl-py==0.11.0
wheel==0.36.2
antlr4-python3-runtime==4.8
appnope==0.1.2
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bleach==3.3.0
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
einops==0.3.0
entrypoints==0.3
fsspec==0.8.5
future==0.18.2
fvcore==0.1.2.post20210128
gitdb==4.0.5
gitpython==3.1.12
google-auth-oauthlib==0.4.2
google-auth==1.24.0
grpcio==1.35.0
hydra-core==1.0.5
idna==2.10
imageio==2.9.0
importlib-metadata==3.4.0
importlib-resources==5.1.0
iopath==0.1.3
ipykernel==5.4.3
ipython-genutils==0.2.0
ipython==7.19.0
ipywidgets==7.6.3
jedi==0.18.0
jinja2==2.11.3
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-core==4.7.1
jupyter==1.0.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kornia==0.4.1
markdown==3.3.3
markupsafe==1.1.1
matplotlib==3.3.4
mistune==0.8.4
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
networkx==2.5
notebook==6.4.1
oauthlib==3.1.0
omegaconf==2.0.6
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
plotly
portalocker
prometheus-client
prompt-toolkit
protobuf
ptyprocess
py
pyasn1-modules
pyasn1
pycparser
pygments
pyparsing
pyrsistent
python-dateutil
pytorch-lightning
pytz
pywavelets
pywinpty
pyyaml
pyzmq
qtconsole
qtpy
requests-oauthlib
requests
retrying
rsa
scikit-image
Cython
scikit-learn
scipy
send2trash
six
smmap
tabulate
tensorboard-plugin-wit
tensorboard
termcolor
terminado
test-tube
testpath
tifffile
torch
torchvision
tornado
tqdm
traitlets
typing-extensions
urllib3
wcwidth
webencodings
werkzeug
widgetsnbextension
yacs
zipp
cairocffi
svglib
pillow
reportlab
css-parser
svgwrite
svgpathtools
beautifulsoup4
tensorboardx
setuptools==41.4.0
h5py==3.1.0
wandb==0.10.30
# chamferdist==1.0.0